body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

.btn {
    display: block;
    border: none;
    padding: 10px;
    background: white;
    color: dodgerblue;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    transition: 300ms all;
    cursor: pointer;
}